/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: rgba(230, 232, 232);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: rgba(15, 153, 162, .6);
}
