<form [formGroup]="userDetailsForm" dir="rtl" (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill">
    <mat-label i18n="form field|name">שם</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label i18n="form field|age">גיל</mat-label>
    <mat-select matInput formControlName="age">
      <mat-option *ngFor="let ageRange of ageRanges | keyvalue" value="ageRange.key">
        {{ageRange.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label i18n="form field|risk factor">גורם סיכון</mat-label>
    <mat-select matInput formControlName="riskFactor">
      <mat-option value="0">סיכון נמוך</mat-option>
      <mat-option value="1">סיכון בינוני</mat-option>
      <mat-option value="2">סיכון גבוה</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label i18n="form field|city">עיר מגורים</mat-label>
    <input type="text"
           [value]="citiesSelectList.get(userDetailsForm.get('city').value)"
           (keyup)="filterCities($event.target.value)"
           matInput
           [matAutocomplete]="citiesAutoComplete"
           formControlName="city">
    <mat-autocomplete #citiesAutoComplete="matAutocomplete">
      <mat-option *ngFor="let city of citiesSelectList | keyvalue" [value]="city.key">
        {{city.value}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br>
  <mat-checkbox matInput formControlName="mobility" i18n="form field|mobility">ניידות</mat-checkbox>
  <br>
  <mat-checkbox matInput formControlName="extraPerson" i18n="form field|extra person">האם באפשרותך לקחת אדם נוסף?</mat-checkbox>
  <br>
  <button mat-raised-button color="primary" i18n="form field|send button text">שליחה</button>
</form>
